version: "3.8"

services:

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "4004:4004"
    depends_on:
      - auth-service
      - patient-service
    networks:
      - pm-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "4005:4005"
    networks:
      - pm-network

  patient-service:
    build:
      context: ./patient-service
      dockerfile: Dockerfile
    container_name: patient-service
    ports:
      - "4000:4000"
    networks:
      - pm-network

networks:
  pm-network:
    driver: bridge
